*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../img/background.png") fixed;
}
::selection{background-color: #8EB50B; color: white;}
/* ----------------- Header --------------------- */
header{
    background-color: #8EB50B;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.header-info{
    background-color: #252525;
    color: white;
    padding: 0px 30px;
    align-items: center;
    display: flex;
}
.header-info p{
    letter-spacing: 3px;
    font-weight: bold;
}
.header-logo{
    display: flex;
    align-items: center;
    color: white;
}
.header-logo h1{
    margin-left: -20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* ----------------- Navigation --------------------- */
nav{
    display: flex;
    justify-content: center;
}
nav ul li{display: inline;}
nav ul li i{
    color: white;
    transition: 0.4s;
}
nav ul li i:hover{color:#86AA0A;}
nav ul li a{
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    transition: 0.4s;
}
nav ul  li a:hover{color: #86AA0A;}
/* ----------------- Scroll style --------------------- */
::-webkit-scrollbar {  
    width: 10px;
    height: 10px;
    background-color: #151515;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px  #151515; 
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: #38c003; 
    border-radius: 10px;
    transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {background: #00f721;}
/* ----------------- Footer --------------------- */
footer{color: white;}
.endWEBsite{
    width: 100%;
    background-color: #8EB50B;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.endWEBsite a{color: black;}
.fooooter{
    display: flex;
    justify-content: center;
}
.fooooter div{
    max-width: 350px;
    margin: 20px
}
.fooooter p i{
    font-size: 35px;
    margin: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 1000px){
    header{
        display: inline-block;
        text-align: center;
    }
    .header-info{
        display: inline-block;
        width: 100%;
    }
    .header-logo{justify-content: center;}
    .fooooter{flex-wrap: wrap;}
}
@media only screen and (max-width: 700px) {
    nav ul li{
        display: block;
        text-align: center;
        font-size:  25px;
        margin-top: 10px;
    }
}
.cursors{
    cursor: pointer;
}