.services-more{
    background-color: #252525ef;
    text-align: center;
    color: white;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding: 30px;
    margin-top: 50px;
}
.services-more2{
    background-color: #8EB50Bef;
    text-align: center;
    color: white;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding: 30px;
    margin-top: 50px;
}